# Ignore specific folders in the root directory
Modules/
xArchiv/
LOGS/

# Ignore specific files in the root directory
token.json


# Allow all files and directories except the ones specified above
!.gitignore
!Programs/**

# Ignore the Archv subfolder inside Programs
Programs/xArchv/

# Ignore database
db.sqlite3

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment (if you create one)
venv/

# Ignore token files or sensitive files
../Programs/token.json
