{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcom Components</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1 style="background-color: navy; color: white;">Marcom Components</h1>
    </header>

    <section>
      <!-- Filters Section -->
      <h2>Filters Selection</h2>
      <form method="GET" action="/" id="search-form">
          <!-- Domain filter -->
          <div class="filter-group">
            <!-- Domain row -->
            <div class="label-group filter-label">Domain:</div>
            <div class="filter-value"><input type="checkbox" name="comp_domain" value="PROMPT"><label>PROMPT</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_domain" value="APP-SWE"><label>APP-SWE</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_domain" value="DGTLX"><label>DGTLX</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_domain" value="GROWTH"><label>GROWTH</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_domain" value="FINTK"><label>FINTK</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_domain" value="PROCESS"><label>PROCESS</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_domain" value="AD-PROFILE"><label>AD-PROFILE</label></div>
          
            <!-- About row -->
            <div class="label-group filter-label">About:</div>
            <div class="filter-value"><input type="checkbox" name="comp_about" value="AD"><label>AD</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_about" value="CIAD"><label>CIAD</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_about" value="ITD2"><label>ITD2</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_about" value="PALMA$$"><label>PALMA$$</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_about" value="SFENA"><label>SFENA</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_about" value="SLB"><label>SLB</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_about" value="TRT"><label>TRT</label></div>
          
            <!-- Context row -->
            <div class="label-group filter-label">Context:</div>
            <div class="filter-value"><input type="checkbox" name="comp_context" value="Case-Experience"><label>Case-Experience</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_context" value="Submission"><label>Submission</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_context" value="Capability-Expertise"><label>Capability-Expertise</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_context" value="Value-Proposal"><label>Value-Proposal</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_context" value="Service-Offer"><label>Service-Offer</label></div>
            <div class="filter-value"><input type="checkbox" name="comp_context" value="Profile Description"><label>Profile Description</label></div>
            <div class="filter-value"></div> <!-- Blank cell for alignment -->
          </div>
          

          <!-- Size filter (radio buttons) -->
          <div class="filter-radio">
            <label class="filter-label">Size:</label>
            <div class="radio-value"><input type="radio" name="comp_size" value="bullet">Bullet <span class="small-text">{&lt; 50}</span></div>
            <div class="radio-value"><input type="radio" name="comp_size" value="summary">Summary <span class="small-text">{&lt; 500}</span></div>
            <div class="radio-value"><input type="radio" name="comp_size" value="description">Description <span class="small-text">{&lt; 1000}</span></div>
            <div class="radio-value"><input type="radio" name="comp_size" value="overview">Overview <span class="small-text">{&lt; 3000}</span></div>
          </div>



          <!-- Submit button -->
          <div class="search-container">
            <button type="submit" class="search-btn">Find Components !</button>
          </div>
          
      </form>
    </section>
        <!-- Table for results -->
  <section>
    <h2>Search Results</h2>

    <!-- Applied Filters Display -->
    <div id="applied-filters">
      {% if applied_filters %}
          <p><strong>Applied Filters:</strong></p>
          <ul>
              {% for filter_name, filter_value in applied_filters.items %}
                  <li><strong>{{ filter_name }}:</strong> {{ filter_value }}</li>
              {% endfor %}
          </ul>
      {% else %}
          <p><strong>Unfiltered Results</strong></p>
      {% endif %}
    </div>

    <table class="result-table">
        <thead>
          <tr>
              <th>Name</th>
              <th>Domain</th>
              <th>About</th>
              <th>Context</th>
              <th>Size</th>
          </tr>
        </thead>
          <tbody>
            {% if components %}
              {% for component in components %}
            <tr>
                <td class="clickable"
                    onclick="openModal('{{ component.name|escapejs }}',
                                        '{{ component.domain|escapejs }}',
                                        '{{ component.about|escapejs }}',
                                        '{{ component.context|escapejs }}',
                                        '{{ component.size|escapejs }}',
                                        '{{ component.content|escapejs }}')">
                    {{ component.name }}
                </td>
                <td>{{ component.domain }}</td>
                <td>{{ component.about }}</td>
                <td>{{ component.context }}</td>
                <td>{{ component.size }}</td>
              </tr>
              {% endfor %}
            {% else %}
              <tr>
                  <td colspan="5">No components found.</td>
              </tr>
          {% endif %}
      </tbody>
    </table>
  </section>

    <!-- Modal for component details -->
    <div id="componentModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="componentTitle"></h2>
            <p><strong>Domain:</strong> <span id="componentDomain"></span></p>
            <p><strong>About:</strong> <span id="componentAbout"></span></p>
            <p><strong>Context:</strong> <span id="componentContext"></span></p>
            <p><strong>Size:</strong> <span id="componentSize"></span></p>
            <div class="component-content">
                <h3>Content:</h3>
                <p id="componentContent"></p>
                <button id="copyButton" onclick="copyToClipboard()">Copy</button>
            </div>
        </div>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
